<ul class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/imgs/laboratory-section.png" width="320px">
            </div>
            <a href="#"><img class="circle" src="/imgs/person.jpg"></a>
            <a href="#"><span class="white-text name">Juan dela Cruz</span></a>
            <a href="#"><span class="white-text email">juan.delacruz@dlsu.edu.ph</span></a>
        </div>
    </li>
    <li><a href="/admin/dashboard"><i class="material-icons">storage</i>Dashboard</a></li>
    <li><a href="/admin/inventory"><i class="material-icons">assignment</i>Inventory</a></li>
    <li><a href="/admin/users"><i class="material-icons">group</i>Users</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="#"><i class="material-icons">poll</i>Usage Reports</a></li>
    <li><a href="#"><i class="material-icons">inbox</i>Purchase Requests</a></li>
    <li><a href="#"><i class="material-icons">info</i>Help</a></li>
    <li><a href="/logout" class="waves-effect waves-light btn" style="margin: 8px;">Logout</a></li>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
    });
</script>