<div class="margin-left-240">
    <div class="container margin-top-48">
        <center>
            <h5 id="admin-header">Students</h5>
        </center>
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s4">
                        <select class="browser-default" id="home-loc-select">
                            <option value="" disabled selected>Select a Location</option>
                            <option value="Laguna Campus">Laguna Campus</option>
                            <option value="Taft Campus">Taft Campus</option>
                        </select>
                    </div>
                </div>
                <table class="table table-striped highlight" id="lab-items-table">
                    <thead>
                        <tr>
                            <th>Student</th>
                            <th>Status</th>
                            <th>Borrowed Materials</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $("#home-loc-select").on('change', function () {
       $("#lab-items-table").find('tbody').empty();
       $('#admin-header').html("Students - " + this.value );
       if(this.value == "Taft Campus"){
         $("#lab-items-table").find('tbody').append(
                            '<tr>' +
                            '<td>11825565</td>'+
                            '<td>On Loan</td>'+
                            '<td><a href="#">5</a></td>'+
                            '<th></th>'+
                            '</tr>'
                            +
                            '<tr>' +
                            '<td>11766854</td>'+
                            '<td>On Loan</td>'+
                            '<td><a href="#">2</a></td>'+
                            '<th></th>'+
                            '</tr>'
       )}

       else if(this.value == "Laguna Campus"){
         $("#lab-items-table").find('tbody').append(
                            '<tr>' +
                            '<td>11935365</td>'+
                            '<td>On Loan</td>'+
                            '<td><a href="#">1</a></td>'+
                            '<th></th>'+
                            '</tr>'
                            
        )}
    });
</script>>