<section class="section-bg">
    <div class="row">
        <div class="col m5 left-align section-title">
            <h2 style="color: white;"><b>Borrowing and Returning Made Easy</b></h2>
            <p style="color: white; font-size: 24px;">Faster research progress. Better accessibility. <br> The University's laboratories now made online and convenient to Lasallian achievers.</p>
        </div>
        <div class="col">
        </div>
    </div>
</section>
<div class="container margin-top-48">
    <section>
        <div class="row">
            <div class="col s12 m3 l3 left-align">
                <p class="no-margin-bot">What do we offer?</p>
                <h5 class="no-margin-top margin-bot-16">Less manual transactions, less worries.</h5>
            </div>
            <div class="col s12 m3 l3 center-align">
                <div class="card medium">
                    <div class="card-content">
                        <img src="imgs/laboratory-icon.png" height="160px" width="160px">
                        <h5>For Your Convenience</h5>
                        <p>
                            Easy access to the University's state of the art laboratories. Materials, chemicals, and
                            equipment
                            at the tip of your fingers.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m3 l3 center-align">
                <div class="card medium">
                    <div class="card-content">
                        <img src="imgs/laboratory-bldg-icon.png" height="160px" width="160px">
                        <h5>Top Notch Laboratories</h5>
                        <p>
                            Explore different laboratories within the University and see what they have to offer.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m3 l3 center-align">
                <div class="card medium">
                    <div class="card-content">
                        <img src="imgs/history-icon.png" height="160px" width="160px">
                        <h5>Real Time Tracking</h5>
                        <p>
                            Track your list of borrowed materials in real time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>