<div class="margin-sides-40 margin-top-48">
    <div class="row">
        <div class="col s9 m9">
            <div class="row">
                <div>
                    <input type="text" name="" placeholder="Type to search">
                    <a href="#">
                    </a>
                </div>
                <div class="col s3 m3">
                    <div class="card large">
                        <div class="card-image">
                            <img src="imgs/erlenmeyer-flask.jpg" height="240px" width="240px">
                        </div>
                        <div class="card-content">
                            <h6><b>250ml Erlenmeyer Flask (Glass)</b></h6>
                            <p>Stock: 25 </p>
                            <p>On Loan: 5 </p>
                            <a href="/details">View Details</a>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Borrow</a>
                        </div>
                    </div>
                </div>

                <div class="col s3 m3">
                    <div class="card large">
                        <div class="card-image">
                            <img src="imgs/petri-dish.jpg" height="240px" width="240px">
                        </div>
                        <div class="card-content">
                            <h6><b>Pyrex Petri Dish (Top and Bottom, Glass)</b></h6>
                            <p>Stock: 25 </p>
                            <p>On Loan: 5 </p>
                            <a href="#">View Details</a>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Borrow</a>
                        </div>
                    </div>
                </div>

                <div class="col s3 m3">
                    <div class="card large">
                        <div class="card-image">
                            <img src="imgs/glass-cylinder.jpg" height="240px" width="240px">
                        </div>
                        <div class="card-content">
                            <h6><b>250mL Graduated Cylinder (Glass)</b></h6>
                            <p>Stock: 25 </p>
                            <p>On Loan: 5 </p>
                            <a href="#">View Details</a>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Borrow</a>
                        </div>
                    </div>
                </div>

                <div class="col s3 m3">
                    <div class="card large">
                        <div class="card-image">
                            <img src="imgs/agar-powder.jpg" height="240px" width="240px">
                        </div>
                        <div class="card-content">
                            <h6><b>Agar Powder</b></h6>
                            <p>Stock: 25 </p>
                            <p>On Loan: 5 </p>
                            <a href="#">View Details</a>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Borrow</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s1 m1">
            <div class="margin-left-24">
                <p><b>FILTER</b></p>
                <div class="margin-left-16">
                    <p>Tags:</p>
                    <form action="#">
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Glassware</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Chemical</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input type="checkbox" />
                                <span>Equipment</span>
                            </label>
                        </p>
                    </form>
                </div>
                <a class="waves-effect waves-light btn" style="width: 120px !important;"><i
                        class="material-icons left">filter_list</i>FILTER</a>
            </div>
        </div>
    </div>
</div>